.error{
    color: red;
  }
  .border{
    border-color: #5ce70b;
  }

  .border-success{
    border-color: #5ce70b;
  }
  .border-danger{
    border-color: red;
  }

  .fa-regular.fa-envelope.fa-2xl.pt-4.sobre.ps-5{
    padding-left: 4rem !important;
  }
