   <section>
    <div class="row mt-3">
      <div *ngFor="let banner of carousel" class="card text-bg-dark banner">
        <div  id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{banner.carouselimag}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{banner.carouselimage}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{banner.carouselimagen}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

          <div class="card-img-overlay">
              <div class="row">
                  <div class="col-6 posImag2">
                      <img [src]="banner.imageprincipal" class="rounded-circle posImag3" alt="..." title="...">
                      <i  *ngIf="admin" class="fa-sharp fa-solid fa-pencil fa-2xl align-items-end icon3" type="button" (click)="actualizarVariable(banner)"data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                  </div>
                  <div class="col-6 pt-5 ">
                      <i *ngIf="admin" class="fa-sharp fa-solid fa-pencil fa-2xl icon3" type="button" (click)="actualizarVariable(banner)" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"></i>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>


<app-modalcambiar [editarBanner] = "banner" (actualizarComponente) = "actualizarComponente($event)"></app-modalcambiar>
<app-modaleditar  [editarBanner] = "banner" (actualizarComponente) = "actualizarComponente($event)"></app-modaleditar>
