
.about{
  border-color: #acc3d3 !important;
  /*margin-left: 0.3%;
  margin-right: 0.3% !important;*/
  color: #fff !important;
}
.capa0{
  z-index: 0;
}
.col-3.pos_izq{
  padding-left: 4% !important;
}
.capa1{
  z-index: 1;
}
.text-end{
  padding-right: 0rem !important;
}
h2{
  color: #ffffff;
  padding-top: 2rem;
  padding-left: 2rem;
}
.p{
  padding-bottom: 2%;
  color: #fff !important;
 /*margin-top: 0% !important;*/
}
/*Posicion de mi foto*/
.rounded-circle.posImag{
  margin-top: -54%;
  border-radius: 100%;
  width: 95%;
  margin-bottom: 2%;
  /*background-image: url('//src/assets/image/1.jpg');
  background-repeat: no-repeat;
  background-size: contain;*/
}
/*
#ip{
  width: 100%;
  height: 582px;
  background-image: url('//src/assets/image/1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}*/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*[class*="col-"] {
    width: 100%;
    height: 65px !important;
    font-size:7px;
    text-align: center;
    //display: flex;
  };*/

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/* For mobile phones: */
.rounded-circle.posImag{
 /*margin-top: -54%;*/
  /*border-radius: 100%;*/
  width: 70% !important;
 /* margin-bottom: 2%;*/
 /* background-image: url('//src/assets/image/1.jpg');
  background-repeat: no-repeat;
  background-size: contain;*/
}
.capa1{
  z-index: 1;
  width: 50%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

