<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
            <img src="{{ logoarg }}" alt="Logo de Argentina Programa" class="logos">
          </a>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 text-start pe-5 pt-3 cody">
          <div class="">
            <span>
              <div class="stage">
                <div class="cubespinner">
                  <div class="face1">Full Stack Jr</div>
                  <div class="face2">Proyecto Integrador</div>
                  <div class="face3">Argentina Programa</div>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center mt-2" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <app-redes></app-redes>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Modal -->
  <app-modalnavbardash></app-modalnavbardash>
</header>

<!--<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary">--><!--fixed-top navbar navbar-expand-lg navbar-light bg-light-->
<!--<div class="container-fluid collapse navbar-collapse">--><!--container-fluid-->
<!--<div class="col-lg-3 col-md-6 col-sm-12">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
          <img src="{{ logoarg }}" alt="Logo de Argentina Programa" class="logos">
        </a>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 text-start pe-5 cody">
        <div class="home">
          <span>
            <div class="stage">
              <div class="cubespinner">
                <div class="face1">Full Stack Jr</div>
                <div class="face2">Proyecto Integrador</div>
                <div class="face3">Argentina Programa</div>
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center ">
        <app-redes></app-redes>
      </div>
    </div>
  </nav>-->
<!-- Modal -->
<!--<app-modalnavbardash></app-modalnavbardash>
</header>-->

<!--
<header>
  <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
              <img src="{{ logoarg }}" alt="Logo de Argentina Programa" class="logo">-->
<!--<img src="assets/image/APLogo-20-20.png" alt="Logo de Argentina Programa" class="logo">-->
<!--     </a>

          <app-redes></app-redes>

      </div>
  </nav>-->
<!-- Modal -->
<!--  <app-modal-navbar></app-modal-navbar>
</header>
-->
